.row-fluid
    .span12
        h1 Json Validator
        h6 Validate and Prettify.
#json-content
    .row-fluid
        .span12
            textarea(rows="12", style="width:100%;").editor
    .row-fluid
        .span12
            #json-status
                h3 Valid state.
    .row-fluid
        .span12
            textarea(rows="12", style="width:100%;").editor-result