.row.header
    .span12
        h1 Json Validator
        h6 Validate and Prettify.
#json-content
    .row
        .span12
            form.horizontal
                .control-group
                    label.control-label(for="indent-select") Indent:
                    select.indent-select.span2
                        option(value=0) Single Line
                        option(value=1) 1 Space
                        option(value=2) 2 Spaces
                        option(value=3) 3 Spaces
                        option(value=4, selected="selected") 4 Spaces
                        option(value=5) 5 Spaces
                        option(value=6) 6 Spaces
                        option(value=7) 7 Spaces
                        option(value=8) 8 Spaces
    .row
        .span6
            textarea(rows="18").span6.editor
        .span6
            textarea(rows="18").span6.editor-result
    .row
        .span12
            #json-status.alert
                span Start typing to get some feedback!
