#map-content
    .row.header
        .span12
            h1 Map
            h6 Where again?
    #overflow-content
        .row
            .span12
                .map
        .row
            .span12
                .status.alert.alert-info
                    span
                        .latitude.location Latitude:
                    span
                        .longitude.location Longitude: