.row-fluid
	.span12
		h1 Text Tools
		h6 Get your text on.
#main-editor.row-fluid
	.span9
		textarea(rows="12", style="width:100%;").editor
	.span3
		.well.stats
			h4 Stats
			ul.unstyled
				li Characters: 0
				li Words: 0
				li Spaces: 0