.navbar.navbar-fixed.top
    .navbar-inner
        .container(style="width:auto;")
            a.brand(href="#") devtoolhub
            .nav-collapse
                ul.nav
                    li(class=navbar === "home" ? "active": "")
                        a(href="/") Home
                    li(class=navbar === "about" ? "active": "") 
                        a(href="/about") About
