.navbar.navbar-fixed.top
    .navbar-inner
        .container
            a.brand(href="/") devtoolhub
            .nav-collapse
                ul.nav
                    - var highlight = typeof navbar !== "undefined" ? navbar : ""
                    li(class=highlight === "home" ? "active": "")
                        a(href="/") Home
                    li(class=highlight === "about" ? "active": "") 
                        a(href="/about") About