doctype html
html(lang="en")
    head
        title devtoolhub | #{title}
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta2/handlebars.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js')
        script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAszkmWHwqcec1uT9d7zE-7S4H42btpejo&sensor=false')
        script(src='/js/jsonlint.js')
        script(src='/js/mustache.js')
        script(src='/js/main.js')
        script(type='text/javascript')
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30354599-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    body
        include includes/navbar
        .container
            .row
                #content.span12!= body
            include includes/footer
        script(id="template-stat", type="text/html")
            h4 Stats
            ul.unstyled
                li Characters: {{characterCount}}
                li Words: {{wordCount}}
        script(id="template-editor", type="text/html")
                .span9
                    textarea(rows="12").span9.editor
                .span3
                    .well.stats
        script(id="template-json", type="text/html")
            .row
                .span12
                    h1 Json Validator
                    h6 Validate and Prettify.
            .row
                .span12
                    textarea(rows="12", style="width:100%;").editor
            .row
                .span12
                    #json-status
                        h3 Valid state.
            .row
                .span12
                    textarea(rows="12", style="width:100%;").editor-result
        //script(id="template-json-editor", type="text/html")

        //script(id="template-json-result, type="text/html")