doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    body
        include includes/navbar
        .container-fluid
            .row-fluid
                .span3
                    include includes/navigation
                .span9!= body
        include includes/footer
    
