.content
    .row.header
        .span9
            h1 The tools.
    .row
        .span4.tool-summary
            .well
                h3 Json Validator
                p
                    | Validates and prettifies a JSON string. 
                p
                    a.btn.btn-primary(href='/tools/json') Go
        .span4.tool-summary
            .well
                h3 Text Tools
                p
                    | Get character and word counts.
                p
                    a.btn.btn-primary(href='/tools/text') Go